<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/tasks/edit/<%=data[0].taskid%>">
                <table cellpadding="11">
                <tr>
                    <td class="label">TaskId</td><td>: <input type="text" name="taskid" value="<%=data[0].taskid%>" required></td>
                 </tr>
                 
                <tr>
                    <td class="label">TaskName</td><td>: <input type="text" value="<%=data[0].taskname%>" name="taskname" required></td>
                 </tr>
                  <tr>
                    <td class="label">TaskDate</td><td>: <input type="text" name="taskdate" value="<%=data[0].taskdate%>" required></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>

