<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addTask();">Add new task</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    
                    <th>Id</th>
                    <th>NameTask</th>
                    <th>DateTask</th>
                    
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    
					<td><%=data[i].taskid%></td>
                    <td><%=data[i].taskname%></td>
                    <td><%=data[i].taskdate%></td>
                    
                    <td>
                        <a class="a-inside edit" href="../tasks/edit/<%=data[i].taskid%>">Edit</a>
                       
                        <a class="a-inside delete" href="../tasks/delete/<%=data[i].taskid%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No tasks</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        

